<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Task Manager</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/login">LogIn</a></li>
        <li><a href="/aboutus">About Us</a></li> 
      </ul>
    </div>
  </div>
</nav>

  <div class="container">    
      <h1>Create new Password</h1>
        <div class="panel panel-default">
            <div class="panel-body"> 
                <form method="POST" action="/savenewpassword?email=<%=user.email%>&token=<%=user.token%>" class="form-horizontal" role="form">
                      <div class="form-group">
                          <label for="inputPassword" class="control-label col-xs-2">Password</label>
                          <div class="col-xs-10">
                              <input type="password" name=password class="form-control" id="inputPassword" placeholder="Password">
                         </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-offset-2 col-xs-10">
                              <button type="submit" class="btn btn-primary">Create Password</button>
                          </div>
                      </div>
                </form>
            </div>
        </div>
  </div>


  