<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Task Manager</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/login">Login</a></li>
        <li class="active"><a href="#">About Me</a></li> 
      </ul>
    </div>
  </div>
</nav>
<div class="container">  
    <div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Personal Information</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p> Name - Mahendra Hiraman Bagul</p>
                        <p> Software Engineer @ Zycus</p>
                        <p> Mobile No. - +918484947814</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Educational Details</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p> Studied BTECH In Information Technology
                            @ SGGSIE&T, Nanded</p>
                           <p> Studied Diploma in Information Technology
                            @ Government Polytechnic Nashik</p>
            
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What I like?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p> Learning new things specially related to technology. </p> 
                            <p> I always opt for Linux over Windows. </p>
                            <p> I am big fan of Open Source Technology. :P
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>